#student-table {
    max-height: 400px;
    overflow: scroll;
}

th, tr {
    width: 33%;
}

.present {
    color: darkgreen;
    font-style: italic;
    background-color: darkorange;
}

.absent {
    color: black;
    font-weight: bold;
    background-color: darkviolet;
}


